body{
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: black;
}

section{
  padding: 100px 0;
}

section:nth-of-type(even){
  background-color: #F6F6F6;
}

.container {
  max-width: 990px;
  padding: 0 10px;
  margin: 0 auto;
}

.hero{
  padding: 0;
}

.nav{
  display: flex;
}

.nav__items{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
  padding: 28px 0;
  border-bottom: 1px solid #828282;
  margin-bottom: 10px;
}

.nav__link{
  color: #828282;
  transition: all .3s ease;
}

.nav__link:hover{
  color: black;
  font-weight: 800;
}

.hero__title{
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 50px;
}

.hero__img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.subtitle{
  font-size: 34px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.about__title{
  margin-bottom: 30px;
}

.about__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about__text{
  width: 480px;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 30px;
}

.about__text:last-child{
  margin-bottom: 0;
}

.skills__text{
  text-align: center;
  margin-bottom: 50px;
}

.skills__items{
  display: flex;
  gap: 100px;
}

.skills__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__img{
  object-position: center;
  object-fit: cover;
  margin-bottom: 25px;
  
}

.skills__decr{
  color: #828282;
  text-indent: 20px;
  margin-bottom: 60px;
}

.skills__list{
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.portfolio__title{
  margin-bottom: 30px;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 70px;
}

.portfolio__img{
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
}

.portfolio__link{
  display: inline-block;
  width: 100%;
  line-height: 1.3;
  text-align: center;
  text-decoration: underline;
}

.content__descr{
  max-width: 280px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.contacts__items{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icon{
  color: black;
  width: 41px;
  height: 41px;
  display: block;
  transition: all .3s ease;
}

.social-icon:hover{
  opacity: 0.5;
}

.contacts__button{
  color: #FFFFFF;
  background-color: black;
  font-weight: 800;
  padding: 10px 16px;
  border-radius: 22px;
  margin-bottom: 30px;
  transition: all .3s ease;
}

.contacts__button:hover{
  background-color: #828282;
  color: black;

}
.contacts__list{
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.contacts__text{
  text-align: center;
}

